In [0]:
import pandas as pd
import numpy as np
#pd.set_option('max_columns', 120)
#pd.set_option('max_colwidth', 5000)

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,8)

In [11]:
loans = pd.read_csv('cleaned_loans_2007.csv',low_memory=False)
loans.head()

   loan_amnt  installment  ...  term_ 36 months  term_ 60 months
0     5000.0       162.87  ...              1.0              0.0
1     2500.0        59.83  ...              0.0              1.0
2     2400.0        84.33  ...              1.0              0.0
3    10000.0       339.31  ...              1.0              0.0
4     5000.0       156.46  ...              1.0              0.0

[5 rows x 39 columns]

In [12]:
loans.shape

(39177, 39)

In [13]:
loans['loan_status'].value_counts() / loans.shape[0]

1    0.856191
0    0.143809
Name: loan_status, dtype: float64

In [14]:
loans.describe()

          loan_amnt   installment  ...  term_ 36 months  term_ 60 months
count  39177.000000  39177.000000  ...     39177.000000     39177.000000
mean   11143.689537    323.514635  ...         0.741277         0.258723
std     7398.202266    208.483501  ...         0.437939         0.437939
min      500.000000     15.690000  ...         0.000000         0.000000
25%     5425.000000    166.500000  ...         0.000000         0.000000
50%    10000.000000    279.160000  ...         1.000000         0.000000
75%    15000.000000    428.030000  ...         1.000000         1.000000
max    35000.000000   1305.190000  ...         1.000000         1.000000

[8 rows x 39 columns]

In [0]:
from sklearn.model_selection import train_test_split
y = loans.pop('loan_status')
X = loans

X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,test_size=0.25, random_state=42)

In [16]:
print(X_train.shape)

(29382, 38)

In [17]:
print(X_test.shape)

(9795, 38)

In [18]:
y_train.value_counts() / y_train.shape[0]

1    0.856204
0    0.143796
Name: loan_status, dtype: float64

In [19]:
y_test.value_counts() / y_test.shape[0]

1    0.856151
0    0.143849
Name: loan_status, dtype: float64